<div class="row pub-score-section">
  <p>
    Standard Categories:
  </p>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        Adult Content:
      </span>
      {{scores.adt}}
    </div>
    <div class="pub-score-item">
      <span>
        Alcohol:
      </span>
      {{scores.alc}}
    </div>
    <div class="pub-score-item">
      <span>
        Auto Refresh:
      </span>
      {{scores.arf}}
    </div>
    <div class="pub-score-item">
      <span>
        Hate Speech:
      </span>
      {{scores.hat}}
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        Illegal Downloads:
      </span>
      {{scores.dlm}}
    </div>
    <div class="pub-score-item">
      <span>
        Illegal Drugs:
      </span>
      {{scores.drg}}
    </div>
    <div class="pub-score-item">
      <span>
        Offensive Content:
      </span>
      {{scores.off}}
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        Political Content:
      </span>
      {{scores.pol}}
    </div>
    <div class="pub-score-item">
      <span>
        Proffesinoalism:
      </span>
      {{scores.pro}}
    </div>
    <div class="pub-score-item">
      <span>
        Violence:
      </span>
      {{scores.vio}}
    </div>
  </div>
</div>
<div class="row pub-score-section">
  <p>
    User Generated:
  </p>
  <div class="col s4">
    <div class="pub-score-item">
      <span> 
        Blogs:
      </span>
      {{scores.ugb}}
    </div>
    <div class="pub-score-item">
      <span>
        Content:
      </span>
      {{scores.ugc}}
    </div>
    <div class="pub-score-item">
      <span>
        Comments
      </span>
      {{scores.ugt}}
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        Dating: 
      </span>
      {{scores.ugd}}
    </div>
    <div class="pub-score-item">
      <span>
        Forums: 
      </span>
      {{scores.ugf}}
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        Media:
      </span>
      {{scores.ugm}}
    </div>
    <div class="pub-score-item">
      <span>
        Social: 
      </span>
      {{scores.ugs}}
    </div>
  </div>
</div>