<div class="row pub-score-section">
  <p>
    Site:
  </p>
  <div class="pub-score-item">
    {{si}}
  </div>
</div>
<div class="row pub-score-section">
  <p>
    Measurements:
  </p>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        TRAQ:
      </span> 
      {{traq}}
    </div>
    <div class="pub-score-item">
      <span>
        Clutter:
      </span>
      {{clu}}
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        Clutter Rating:
      </span>
      {{scores.par}}
    </div>
    <div class="pub-score-item">
      <span>
        DMA:
      </span>
      {{dma}}
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item">
      <span>
        Avg Ad Count:
      </span>
      {{scores.pac}}
    </div>
    <div class="pub-score-item">
      <span>
        Avg Page Time:
      </span>
      {{scores.top}}
    </div>
  </div>
</div>