<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3">
        <a class="active" href="#overview">
          <img class="ias-img" src="./img/IAS-traq-score.png"/>
          <h6 class="center">
            Overview
          </h1>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#brand-safety">
          <img class="ias-img" src="./img/IAS-brand-safety.png"/>
          <h6 class="center">
            Brand Safety
          </h1>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#ad-fraud">
          <img class="ias-img" src="./img/IAS-ad-fraud.png"/>
          <h6 class="center">
            Ad Fraud
          </h1>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#viewability">
          <img class="ias-img" src="./img/IAS-viewability.png"/>
          <h6 class="center">
            Visibility
          </h1>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="overview" class="col s12">
  <ul>
    <li class="left-align">
        Site: {{si}}
    </li>
    <li class="left-align">
        AD Entity ID: 1
    </li>
    <li class="left-align">
        TRAQ: {{traq}}
    </li>
    <li class="left-align">
      Clutter: {{clu}}
    </li>
    <li class="left-align">
      Designated Market Area: {{dma}}
    </li>
    
    <li class="left-align">
      Location: {{country}}, {{state}}
    </li>
    
    <li class="left-align">
      Avg Page Ad Count: {{scores.pac}}
    </li>
    <li class="left-align">
      Clutter Rating: {{scores.par}}
    </li>
    <li class="left-align">
      Avg Time User on Page: {{scores.top}}
    </li>

  </ul>
</div>

<div id="brand-safety" class="col s12">
  <ul>
    <li class="left-align">
      Adult Content: {{scores.adt}}
    </li>
    <li class="left-align">
      Alcohol: {{scores.alc}}
    </li>
    <li class="left-align">
      Auto Refresh: {{scores.arf}}
    </li>
    <li class="left-align">
      Failure Catagories: {{scores.fcs}}
    </li>
    <li class="left-align">
      Hate Speech: {{scores.hat}}
    </li>
    <li class="left-align">
      Illegal Downloads: {{scores.dlm}}
    </li>
    <li class="left-align">
      Illegal Drugs: {{scores.drg}}
    </li>
    <li class="left-align">
      IAB - Contextual Catagories: {{scores.iab1}} and {{scores.iab2}}
    </li>
    <li class="left-align">
      Offensive Language: {{scores.off}}
    </li>
    <li class="left-align">
      Political Content: {{scores.pol}}
    </li>
    <li class="left-align">
      Proffesinoalism: {{scores.pro}}
    </li>
    <li class="left-align">
      Violence: {{scores.vio}}
    </li>
    <li>
    <li class="left-align">
      User Generated Blogs: {{scores.ugb}}
    </li>
    <li class="left-align">
      User Generated Content: {{scores.ugc}}
    </li>
    <li class="left-align">
      User Generated Dating: {{scores.ugd}}
    </li>
    <li class="left-align">
      User Generated Forums: {{scores.ugf}}
    </li>
    <li class="left-align">
      User Generated Media: {{scores.ugm}}
    </li>
    <li class="left-align">
      User Generated Social: {{scores.ugs}}
    </li>
    <li class="left-align">
      User Generated Comments: {{scores.ugt}}
    </li>
  </ul>
</div>

<div id="ad-fraud" class="col s12">
  <ul>
    <li class="left-align">
       Risk: {{risk}}
    </li>
    <li class="left-align">
      Realtime Suspicios Activity: {{scores.rsa}}
    </li>
    <li class="left-align">
      Suspicios Activity/Fraud Metric: {{scores.sam}}
    </li>
  </ul>
</div>

<div id="viewability" class="col s12">
  <ul>
    <li class="left-align">
      Page Load Viewability: {{scores.ivl}}
    </li>
    <li class="left-align">
      Page Load Viewabilty 160x600: {{scores.ivl_160x600}}
    </li>
    <li class="left-align">
      Page Load Viewabilty 300x250: {{scores.ivl_300x250}}
    </li>
    <li class="left-align">
      Page Load Viewabilty 728x90: {{scores.ivl_728x90}}
    </li>

    <li class="left-align">
      Viewability > 1 sec: {{scores.iv1}}
    </li>
    <li class="left-align">
      Viewability > 2 sec: {{scores.iv2}}
    </li>
    <li class="left-align">
      Viewability > 3 sec: {{scores.iv3}}
    </li>
    
    <li class="left-align">
      Viewability > 5 sec: {{scores.ivp}}
    </li>
    <li class="left-align">
      Viewability > 5 sec 160x600: {{scores.ivp_160x600}}
    </li>
    <li class="left-align">
      Viewability > 5 sec 300x250: {{scores.ivp_300x250}}
    </li>
    <li class="left-align">
      Viewability > 5 sec 728x90: {{scores.ivp_728x90}}
    </li>

    <li class="left-align">
      IAB - Viewabilty: {{scores.iviab}}
    </li>
    <li class="left-align">
      IAB - Viewabilty 160x600: {{scores.iviab_160x600}}
    </li>
    <li class="left-align">
      IAB - Viewabilty 300x250: {{scores.iviab_300x250}}
    </li>
    <li class="left-align">
      IAB - Viewabilty 728x90: {{scores.iviab_728x90}}
    </li>

    <li class="left-align">
      Time in View: {{scores.ivt}}
    </li>
    <li class="left-align">
      In View User Leaves: {{scores.ivu}}
    </li>
    <li class="left-align">
      Not in view: {{scores.niv}}
    </li>

  </ul>
</div>