<div class="row pub-score-section">
  <p>
    IAB - Viewabilty: {{scores.iviab}}%
  </p>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        160x600:
      </span>
      {{scores.iviab_160x600}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        300x250:
      </span>
      {{scores.iviab_300x250}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        728x90:
      </span>
      {{scores.iviab_728x90}}%
    </div>
  </div>
</div>

<div class="row pub-score-section viewability">
  <p>
    Page Load Viewability: {{scores.ivl}}%
  </p>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        160x600:
      </span>
      {{scores.ivl_160x600}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        300x250:
      </span>
      {{scores.ivl_300x250}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        728x90:
      </span>
      {{scores.ivl_728x90}}%
    </div>
  </div>
</div>

<div class="row pub-score-section viewability">
  <p>
    Viewability Over 5sec: {{scores.ivp}}%
  </p>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        160x600:
      </span>
      {{scores.ivp_160x600}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        300x250:
      </span>
      {{scores.ivp_300x250}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        728x90:
      </span>
      {{scores.ivp_728x90}}%
    </div>
  </div>
</div>

<div class="row pub-score-section viewability">
  <p>
    Viewability Over:
  </p>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        1 sec:
      </span>
      {{scores.iv1}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        2 sec:
      </span>
      {{scores.iv2}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        3 sec:
      </span>
      {{scores.iv3}}%
    </div>
  </div>
</div>

<div class="row pub-score-section viewability">
  <p>
    Standard Catagories:
  </p>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        Time In View:
      </span>
      {{scores.ivt}}
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        Not In View:
      </span>
      {{scores.niv}}%
    </div>
  </div>
  <div class="col s4">
    <div class="pub-score-item-viewability">
      <span>
        In View Page Exit:
      </span>
      {{scores.ivu}}%
    </div>
  </div>
</div>
