<div class="row dt-call-row">
  <div class="col s6 primary-font-medium">
    Time In View:
  </div>
  <div class="col s3">
    {{timInView}}sec
  </div>
</div>

<div class="row dt-call-row">
  <div class="col s6 primary-font-medium">
    % In View:
  </div>
  <div class="col s3">
    {{percentInView}}
  </div>
</div>

<div class="row dt-call-row">
  <div class="col s6 primary-font-medium">
    Obstructed:
  </div>
  <div class="col s3">
    {{obstructed}}
  </div>
</div>

<div class="row dt-call-row">
  <div class="col s6 primary-font-medium">
    Tab Hidden:
  </div>
  <div class="col s3">
    {{tabHidden}}
  </div>
</div>

<div class="row dt-call-row">
  <div class="col s6 primary-font-medium">
    View State:
  </div>
  <div class="col s3">
    {{viewState}}
  </div>
</div>

<div class="row dt-call-row">
  <div class="col s6 primary-font-medium">
    Reason:
  </div>
  <div class="col s3">
    {{reason}}
  </div>
</div>

